/* src/index.css */
/* Reset básico e definições de fontes/cores globais */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Cor de fundo padrão do Ant Design, pode ser ajustada */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variáveis de cor baseadas na identidade visual */
:root {
  /* Suas cores antigas... */
  --map-dourado: #E0BC63; /* Cor antiga, será substituída ou mantida se ainda usada */
  --map-laranja: #CC6633; /* Cor antiga, será substituída ou mantida se ainda usada */
  --map-laranja-escuro: #994C00;
  --map-preto: #2c3e50; /* Preto antigo da marca, pode ser diferente do novo preto absoluto */
  --map-cinza-texto: #555;
  --map-branco: #FFFFFF;

  /* Novas Cores */
  --brand-cor-1-dourado: #e3be62;
  --brand-cor-2-laranja-ferrugem: #b24a0a;
  --brand-cor-3-terracota-escuro: #903b07;
  --brand-cor-4-preto: #000000;

  /* Cores de texto para fundos escuros */
  --text-on-dark-primary: #FFFFFF;
  --text-on-dark-secondary: #e0e0e0; /* Um cinza claro para textos secundários */
}